html
  head
    script(src="http://cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/react/0.10.0/JSXTransformer.js")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript").
      // logic for clicking on a customer row
      function onCustomerSelected(customerId) {
        // populate form with data from server
        $.ajax({
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          url: "/customer/details",
          data: JSON.stringify({params: {customerId: customerId}}),
          dataType: "json",
          success: function(data) {
            if (data.status) {
              $("#idInput").val(data.customer.id);
              $("#firstNameInput").val(data.customer.first_name);
              $("#lastNameInput").val(data.customer.last_name);
              $("#emailInput").val(data.customer.email);
              $("#phoneInput").val(data.customer.phone);
              $("#birthDateInput").val(data.customer.birth_date);
            }
          },
          error: function(error) {
            console.log(error);
          }
        });
      }
      // logic for updating customer (clicking on "Update")
      function updateCustomer(event) {
        event.preventDefault();
        $.ajax({
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          url: "/customer/update",
          // TODO: only update properties that have changed
          data: JSON.stringify({params: {
            id: parseInt($("#idInput").val()),
            firstName: $("#firstNameInput").val(),
            lastName: $("#lastNameInput").val(),
            email: $("#emailInput").val(),
            phone: $("#phoneInput").val(),
            birthDate: $("#birthDateInput").val()
          }}),
          dataType: "json",
          success: function(data) {
            if (data.status) {
              // TODO: update customer data inline instead of refetching data
              customerGrid.updateUserList();
            }
          },
          error: function(error) {
            console.log(error);
          }
        });
      }

  body
    div(class="container")
      div(class="row")
        h3 Customers
        div(id="customerGridContainer")
      div(class="row")
        div(id="pageDivider", style="background-color:lightgray;height:3px;margin-bottom:20px;")
      div(class="row")
        form(role="form")
          input(type="hidden", id="idInput")
          div(class="form-group")
            label(for="firstNameInput") First Name
            input(type="text", class="form-control", id="firstNameInput")
          div(class="form-group")
            label(for="lastNameInput") Last Name
            input(type="text", class="form-control", id="lastNameInput")
          div(class="form-group")
            label(for="emailInput") Email
            input(type="email", class="form-control", id="emailInput")
          div(class="form-group")
            label(for="phoneInput") Phone #
            input(type="text", class="form-control", id="phoneInput")
          div(class="form-group")
            label(for="birthDateInput") Date of Birth
            input(type="text", class="form-control", id="birthDateInput")
          button(type="submit", class="btn btn-default" onclick="updateCustomer(event)") Update
        script(type="text/jsx", src="/components.jsx")
        script(type="text/jsx").
          /** @jsx React.DOM */
          var customerGrid = React.renderComponent(
            <CustomerGrid onCustomerSelected={onCustomerSelected} pageLength={10}/>,
            document.getElementById('customerGridContainer')
          );
